<section class="faq">
  <div class="container faq__container">
    <div class="faq__wrapper">
      <h2 class="faq__title">Программа: </h2>
      <ul class="faq__list list-reset">
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">1. Основы Python</span>
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
             <ul class="faq__list">
               <li class="faq__item">История Python</li>
               <li class="faq__item">Применимость Python</li>
               <li class="faq__item">Почему Python - это круто? Основные особенности и идеология</li>
               <li class="faq__item">Принцип работы Python</li>
               <li class="faq__item">Способы запуска программ, возможные среды разработки</li>
               <li class="faq__item">Синтаксис Pyhton. Основные положения PEP8</li>
               <li class="faq__item">Ввод и вывод данных с консоли, Hello World</li>
             </ul>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">2. Базовые типы данных Python. часть 1</span>
            
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">3. Базовые типы данных Python. часть 2 </span>
            
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">4. Способы ветвления программы Python</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">5. Циклы Python</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">6. Работа с файлами</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">7. Функции часть 1 </span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">8. Функции часть 2</span>
            
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">9. Введение в модули</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">10. Модули. os, sys, requests</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">11. Основы ООП</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">12. ООП Дополнение</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">13. Построение RESTful API</span>
          
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">14. Модули. logging</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
        <li class="faq-accordion">
          <button class="faq-accordion__control btn-reset" aria-expanded="false">
            <span class="faq-accordion__icon"></span>
            <span class="faq-accordion__title">15. Реализуем финальный проект.</span>
           
          </button>
          <div class="faq-accordion__content" aria-hidden="true">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit deleniti laboriosam mollitia magni eveniet eius sint, minima incidunt fugit earum possimus, ipsam maiores dignissimos libero veniam totam ex, explicabo facere?</p>
          </div>
        </li>
      </ul>
      <div class="faq__pic"><img src="img/faq.png" alt=""></div>
    </div>
   
  </div>
</section>
