<section class="programm">
    <div class="container programm__container">
        <div class="programm__inner">
            <div class="programm__info">
                <h2 class="programm__info-title">Программа Prometheus by REBRAIN охватывает все основные аспекты работы с Python</h2>
                <div class="programm__info-text">
                    <p>В данном практикуме мы дадим основы Python для тех, кто ранее не был знаком с данным языком или был знаком очень поверхностно. </p>
                    <p>Вы научитесь основам синтаксиса, которые можно будет потом использовать для применения в любой области и напишем клиент-серверное приложение, с клиентской частью , которая будет
                        снимать параметры сервера и отправлять по REST  API на web-form для мониторинга</p>
                </div>
            </div>
            <div class="programm__pic"><img src="img/Exclude.png" alt="icon-python"></div>
        </div>
       
       
    </div>
</section>